<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LTS KB - Forgot Password</title>

   

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/lunr.js"></script>
    

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    
    <!-- bootstrap-dialog CSS -->
    <link href="/stylesheets/bootstrap-dialog.css" rel="stylesheet">

    <!-- bootstrap-dialog JavaScript -->
    <script src="/js/bootstrap-dialog.js"></script>



<style>

 body, html {
    height: 100%;
    /*background-repeat: no-repeat;*/
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    background-color: #D4E0EC;
    
    font-family: 'Lato';
    
}

.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 90px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

h5{
    font-size: 17px;
    font-family: Times New Roman;
}


  .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
    
    h10
    {
        font-size: 15px;
        font-family: 'Futura';
        color: red;
        
    }
    
    
    h11
    {
        /*padding: 10px 16px;*/
        padding-top: 10px;
        /*padding-right: 16px;*/
        padding-bottom: 10px;
        /*padding-left: 16px;*/
        font-size: 22px;
        font-family: 'Futura';
    }
    
    faqQ
    {
        font-size: 20px;
        color: #174770;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
    }
    
    faqA
    {
        font-size: 18px;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
    
    h1
    {
         color: white;
         font-size: 55px;
         font-family: 'Futura';
    }
    
    
     h2
    {
        color: white;
        font-size: 40px;
        font-family: 'Futura';
    }
    
    h7
    {
        color: white;
        font-size: 44px;
        letter-spacing: 8px;
        font-family: 'FuturaLight';
    
    }
    
    
    
    h5
    {
        color: white;
        font-size: 25px;
        letter-spacing: 2px;
        font-family: 'FuturaLight';
    }
    
    
    .btn-dark
    {
     border-radius: 6px; 
     background-color: lightgray;
    }
   
    .btn-try
    {
       border-radius: 0px; 
/*       background-color: #174770;*/
       background-color: #174770;
    }
    
    
/*    .navbar.transparent.navbar-inverse .navbar-inner {
        background: rgba(0,0,0,0.4);
     }
     
   .navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}*/



/*.navbar {
    position: relative;*/
/*}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -90px; !important;   50% of your logo width 
    margin-top: 5px;
    display: block;
}

.navbar li { color: #000; } 
    



    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 180px;
        text-align: center;
        background-color: transparent;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }*/
/*

.dropdown-menu
{
    background-color: black;
    background-color: transparent;
}


.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #66789C;
    
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}*/

/*        
    @font-face {
    font-family: FuturaBook;
    src: url(fonts/Futura_LT/FuturaLT-Book.ttf) format("truetype");
    }
    
    @font-face {
    font-family: FuturaLight;
    src: url(fonts/Futura_LT/FuturaLT-Light.ttf) format("truetype");
    }
    
    @font-face {
    font-family: Futura;
    src: url(fonts/Futura_LT/FuturaLT.ttf) format("truetype");

    
    
    */
    
    
    #custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-field {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-field:focus + button {
        z-index: 3;   
        
    }

    
    
    .top-result {
     white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     word-break: break-all;
     white-space: normal;
}
    
    /*.search-field:hover {cursor: hand; cursor: pointer; }*/

    
    
    /*.result:hover {cursor: pointer; cursor: hand;}*/
/*    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #D4E0EC;
}
    
    .dropdown-menu
{
    background-color: yellow;
    background-color: transparent;
}

.dropdown-menu>li>a:hover {
  color: yellow;
  text-decoration: none;
  background-color: yellow;
    
}
    */
    


::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #555;
    background-color: #e7e7e7;
}


    

 </style>
          
    <script>

BootstrapDialog.alertPasswordReset = function(message, callback) {
    new BootstrapDialog({
        title: 'Password Reset',
        message: message,
        data: {
            'callback': callback
        },
        closable: false,
        buttons: [{
                label: 'OK',
                //cssClass: 'action-button green-button',
                action: function(dialog) {
                    typeof dialog.getData('callback') === 'function' && dialog.getData('callback')(true);
                    dialog.close();
                }
            }]
    }).open();
        };   

 $(document).ready(function() { 
    <% if( MATCH_STATUS === 'false') { %>
         
         $('#no_match').show(); 
     
     <% } %>

    <% if( MATCH_STATUS === 'true') { %>

        BootstrapDialog.alertPasswordReset('Password reset link has been sent to you email', function() {
            window.location.replace('<%= LOGIN_URL %>');
        });
        
        $('#inputEmail').val('<%= EMAIL %>');
        $('#inputEmail').prop('disabled', true);

    
    <% } %>

    <% if( TOKEN_STATUS === 'VALID') { %>

        
       // $('#initial_email_box').hide();
       // $('#confirmation_box').show();

        $('#initial_email_box').hide(); 
        $('#initial_message_box').hide(); 
        $('#password_reset_box').show(); 
        
    <% } %>
    

 });

    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
    }
   
   function sendResetCode()
   {

       if( validateEmail($('#inputEmail').val()))
        {
        //   document.getElementById('f_email_error').style.display ="none"
        $('#inputemail_error').hide();

                var query = $('#msform').serialize();
//                console.log("query" + query);
            
//                $.ajax({url: 'http://skhan231.people.uic.edu/E-RIVE/add_file.php',
                $.ajax({url: '<%= FORGOT_PASSWORD_LINK %>',

//                $.ajax({url: 'http://E-RIVE/getuser.php',
                    data: query,
                    type: 'POST',
                    success: function(output) {
                        alert(output);
                    }
                });      
        }
        else
        {
            $('#inputEmail_error').hide();
        }

   }

    function validatePasswordLength ($pass) {
        
        
            var passReg = /^((?=.*\d)(?=.*[a-z])(?=.*[\W]).{8,16})$/;
        
//                        var passReg = /^.{8,16}$/;
            return passReg.test( $pass );
        
        
    }

    function validateForm()
    {
        
        error_flag = 0;

        if($('#f_input_password').val().trim().length < 6)
        {
            document.getElementById('password_error_1').style.display ="inline";                    
            error_flag = 1;
        }
        /*
        if( !validatePasswordLength($('#f_input_password').val()) || $('#f_input_password').val() === ''){
                        
                    
        }
        */
        if( !($('#f_input_password').val() === $('#f_confirm_password').val() )){
            document.getElementById('password_error_2').style.display ="inline";        
            error_flag = 1;                    
        }
        
        
        if(error_flag === 0)
        {

            var query = $('#msform_2').serialize();
//                console.log("query" + query);
        
//                $.ajax({url: 'http://skhan231.people.uic.edu/E-RIVE/add_file.php',
            $.ajax({url: '<%= PASSWORD_UPDATE_API %>?token=<%= TOKEN %>',

//                $.ajax({url: 'http://E-RIVE/getuser.php',
                data: query,
                type: 'POST',
                success: function(output) {
                   // if(output.success)
                    //{
                    BootstrapDialog.alertPasswordReset(output.message, function() {
                        //take back to login page
                        window.location.replace('<%= LOGIN_URL %>');

                    });
                        
                   // }
                    //else
                   // {
                  //      BootstrapDialog.alertPasswordReset(output.message, function() {
                            //take back to login page
                  //      });
                  //  }
                    
                }
            });   


            //alert('updated');
            
           // updatePassword();
//                            
        }
        
        
        
        
    } 

   

   
   
   
            
            
            
$(document).ready(function() { 

    var match_error = '<?php echo json_encode($auth); ?>';
//    console.log("match_error is " + match_error);

    if(match_error === "0")
    {
//                    console.log("what the actual");
//        document.getElementById('no_match').style.display ="inline";
        
         $('#no_match').show(); 
//        $(#no_match).show();
        
    }
    else if(match_error === "100")
    {
        $('#initial_email_box').hide(); 
        $('#confirmation_box').show(); 
//        initial_email_box
//        confirmation_box

        $('#initial_email_box').hide(); 
        //$('#confirmation_message_box').show(); 
        
    }
});  

//checkConfirmationCode , action="reset_confirmation_check_match.php"

function checkConfirmationCode()
{
    if(con === $('#inputCode').val())
    {
//        alert('code matched');
        window.location.assign('update_password.php');
        
    }
    else
    {
//        alert('code NOT matched');
//        alert(con);
//        
         $('#confirmation_no_match').show(); 
        
        
    }
}

            
            </script>
        
        
        
        
    </head>
    <body>
         <!-- Navigation --> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a style="font-size: 30px;" class="navbar-brand" href="#">LTS Knowledge Base</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
         
         
         
         
    
    <div class="container">
        
        
<!--        <div id="new_account_note" name="new_account_note" style="margin-bottom: 10px; width: 80%; background-color: rgba(255, 255, 255, 0.36); display: none;" class="card card-container">
          
            
            <h4>Welcome to E-RIVE! Now that you have set up an account, go ahead and Login by entering you email and password below to start the application process.</h4>
   
            
        </div>
        -->
        
        
        
        
        <div id='initial_email_box' class="card card-container">
            <form id='msform' class="form-signin" action="<%= FORGOT_PASSWORD_LINK %>" method="POST">
                <h4 align='center'>Reset Password</h4>
                <!--<span id="reauth-email" class="reauth-email"></span>-->
                <center><h10 id="no_match" align="center" style="margin-bottom: 15px; padding-bottom: 15px; display: none;">Our records do not show an active account linked to this email.<br><br></h10></center>                
                <input value ="" type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <center><h10 id="inputEmail_error" align="center" style="margin-bottom: 15px; padding-bottom: 15px; display: none;">Please enter a valid email<br><br></h10></center>
                <!--<input type="password" id="inputPassword" name="inputpassword" class="form-control" placeholder="Password" required>-->             
                <button  class="btn btn-lg btn-primary btn-block btn-signin"  type='submit'>Reset Password</button>
            </form><!-- /form onclick="sendResetCode();"-->
            
        </div><!-- /card-container -->
        
        


<!--
        <div id='confirmation_box' style='display: none;' class="card card-container">
            <form id="msform_2" method="post" enctype="multipart/form-data">
                <h4 align='center'>Reset Password</h4><input disabled value ="<?php echo $email; ?>"  class="form-control" type="email" id="inputEmail_2" name="inputemail_2" >
                <input style='margin-bottom: 10px; margin-top: 10px;' id="inputCode" name="inputCode" class="form-control" placeholder="Enter Confirmation Code" required>
                <center><h10 id="confirmation_no_match" align="center" style="margin-bottom: 15px; padding-bottom: 15px; display: none;">The confirmation code does not match.<br><br></h10></center>                
               
                <input  class="btn btn-lg btn-primary btn-block btn-signin" onclick='checkConfirmationCode()' type="button" value="Submit Confirmation Code"/>
            </form>
        </div>
 -->       


        <div id='password_reset_box' style='display: none;' class="card card-container">
           <!--<form class="form-signin"  method="POST">-->
           
               <form id="msform_2" method="post" enctype="multipart/form-data" >
               
                   <!--<h10 style="display:none;" id="duplicate_record" name="duplicate_record"> Our records indicate that there is an existing account with the entered email. <a href="login.php">Click here to Login</a><br></h10>-->
                <h4 align="center">Enter New Password</h4>
                   
                <input disabled value ="<%= EMAIL %>"  class="form-control" type="email" id="inputEmail" name="inputEmail" >
               <!--<h10 class="error_check" id="f_email_error" style="display: none;">Please enter a valid email</h10>-->
                        
                
                <input style="margin: 10px 0px 0px 0px;" maxlength="16" type="password" id="f_input_password" name="f_input_password" class="form-control" placeholder="Password" required>
                <center><h10 class="error_check" id="password_error_1" style="display: none;">Please select a password over 6 charachter</h10></center>
                 
               <input style="margin: 10px 0px 0px 0px;" maxlength="16"  type="password" id="f_confirm_password" name="f_confirm_password" class="form-control" placeholder="Cofirm Password" required>
               <center><h10 class="error_check" id="password_error_2" style="display: none;">The password does not match</h10><center>
                 
               
                <button style="margin: 20px 0px 0px 0px;" class="btn btn-lg btn-primary btn-block btn-signin" onclick="validateForm();" type="button">Submit New Password</button>
            </form><!-- /form -->
            
            
        </div><!-- /card-container --> 

        <div id='initial_message_box' style="margin-top: 10px; width: 60%; color: black; background-color: rgba(255, 255, 255, 0.36);" class="card card-container">
            <h4 align='center'>Please enter your email to reset your password</h4>
        </div>
        
        <div id='confirmation_message_box' style="margin-top: 10px; width: 60%; color: black; background-color: rgba(255, 255, 255, 0.36); display: none;" class="card card-container">
                <h4 align='center'> A confirmation code was sent to your email. Please enter it in the box below.</h4>
                <br>
                <p align='center' style="margin: 5px 0;">(Allow up to 15 minutes for the email and make sure to check your spam)</p>
        </div>
        
        
     
        
        
        
        
    </div><!-- /container -->
        
    
    
        
        
        
    </body>
</html>
